@import "css/sass/default";

.top_header{
  height: 15px;
  width: 100%;
  background: $green;
  border-bottom: 4px solid $red;
}

.header{
  height: 80px;
  padding: 10px 0px;
  width: 100%;
  background: $white;
 .banner{
   background: $white;
   img{
     width: 555px;
     height: 61px;
   }
 }
}

// Start Menu
.menu{
  background: $green;
  nav{
    ul{
      margin: 0px;
      padding: 0px;
      list-style: none;
      li{
        display: inline-block;
        &:hover>a{
          background: $white !important;
          color: $green !important;
          text-decoration: none !important;
        }
        &.dropdown{
          position: relative;
          &:hover .dropdown_menu_list{
            opacity: 1;
            transform: scaleY(1);
          }
        }
        &.dropdown ul{
          position: absolute;
          width: 177px;
          background: $green;
          z-index: 1;
          top: 100%;
          left: 0%;
          padding: 5px !important;
          border-top: 4px solid $red;
          border-bottom: 4px solid $red;
          display: block;
          visibility: visible;
          opacity: 1;
          transition: 0.4s;
          transform: scaleY(0);
          transform-origin: 0 0 0;
          li a{
            &:hover{
              background: none !important;
              color: #D3D3D3 !important;
            }
          }
        }
        a{
          display: block;
          padding: 8px 10px;
          color: $white;
          font-size: 14px;
          text-transform: capitalize;
          &:hover{
            background: $white;
            color: $green;
            text-decoration: none;
          }
          &.active{
            background: $white;
            color: $green;
            margin-right: -5px !important;
          }
        }
      }
    }
  }
}
// Close Menu



// Start Slider Section
.slider_section{
  padding: 20px 0px;

  .login{
    border: 1px solid $green;
    height: 272px;
    h3{
      text-align: center;
      margin: 20px 0px 0px 0px;
      padding: 0px;
      font-size: 22px;
      color: $green;
    }
    form{
      margin-top: 10px;
      padding: 20px 10px;
      .input-group-addon{
        width: 45px;
        color: $green;
      }
      button{
        color: $green;
      }
    }
  }
}
// Close Slider Section



// Start Body Content
.body_content{
  padding: 60px 0px 0px 0px;

  .left_content{
    p{
      text-align: justify;
      font-size: 15px;
      padding-bottom: 20px;
    }
  }

  .alumni_profile{
    border: 1px solid $green;
    height: 272px;
    h3{
      text-align: center;
      margin: 20px 0px 0px 0px;
      padding: 0px;
      font-size: 22px;
      color: $green;
    }

    .alumni_list{
      .single_alumni{
        text-align: center !important;
        a{
          color: $black;
          text-decoration: none;
          &:hover{
            text-decoration: none;
          }
          img{
            width: 140px;
            height: 140px;
            margin: 10px 0px 5px 62px;
          }
        }
      }
    }

  }

}
// Close Body Content



// Start Event Section
.event_section{
  padding: 60px 0px 0px 0px;

  .event_list{padding-top: 70px;}

  .single_event{
    position: relative;
    height: 200px;

    img{
      width: 100%;
      height: 200px;
    }

    .single_event_inner{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.8);
      text-align: center;
      &:hover{
        background: rgba(0,0,0,0.5);
      }
      // &:hover .event_date{
      //   margin-left: 36%;
      // }

      .event_date{
        background: $green;
        width: 70px;
        text-align: center;
        color: #fff;
        margin-left: 36%;
        font-family: $section-title-font;

        .month{
          font-size: 20px;
          font-weight: 400;
          text-transform: uppercase;
        }
        .date{
          font-size: 50px;
          font-weight: 700;
          line-height: 50px;
        }
        .year{
          font-size: 18px;
          font-weight: 300;
        }
      }
      .event_title{
        padding-top: 10px;
        h3{
          color: $white;
          font-size: 19px;
          padding: 5px 20px;
        }
      }
    }
  }
}
// Close Event Section


// Start Notice Section
.notice_section{
  padding: 60px 0px 60px 0px;
}
// Close Notice Section

// Start Footer Section
.footer_section{
  background: $green;
  text-align: center;
  color: $white;
  padding: 10px 0px;
}
// Close Footer Section

// Start Section Title
.section_title{
  h1{
    padding: 0px 0px 12px 0px;
    text-transform: uppercase;
    font-size: 40px;
    color: $green;
    font-family: $section-title-font;
    font-weight: 700;
    letter-spacing: 2px;
  }
  p{
    color: #888;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    margin: 0px;
    padding: 0px;
  }
}
// Close Section Title
