* {
  margin: 0px;
  padding: 0px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px; }

.top_header {
  height: 15px;
  width: 100%;
  background: green;
  border-bottom: 4px solid red; }

.header {
  height: 80px;
  padding: 10px 0px;
  width: 100%;
  background: #fff; }
  .header .banner {
    background: #fff; }
    .header .banner img {
      width: 555px;
      height: 61px; }

.menu {
  background: green; }
  .menu nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    .menu nav ul li {
      display: inline-block; }
      .menu nav ul li:hover > a {
        background: #fff !important;
        color: green !important;
        text-decoration: none !important; }
      .menu nav ul li.dropdown {
        position: relative; }
        .menu nav ul li.dropdown:hover .dropdown_menu_list {
          opacity: 1;
          transform: scaleY(1); }
      .menu nav ul li.dropdown ul {
        position: absolute;
        width: 177px;
        background: green;
        z-index: 1;
        top: 100%;
        left: 0%;
        padding: 5px !important;
        border-top: 4px solid red;
        border-bottom: 4px solid red;
        display: block;
        visibility: visible;
        opacity: 1;
        transition: 0.4s;
        transform: scaleY(0);
        transform-origin: 0 0 0; }
        .menu nav ul li.dropdown ul li a:hover {
          background: none !important;
          color: #D3D3D3 !important; }
      .menu nav ul li a {
        display: block;
        padding: 8px 10px;
        color: #fff;
        font-size: 14px;
        text-transform: capitalize; }
        .menu nav ul li a:hover {
          background: #fff;
          color: green;
          text-decoration: none; }
        .menu nav ul li a.active {
          background: #fff;
          color: green;
          margin-right: -5px !important; }

.slider_section {
  padding: 20px 0px; }
  .slider_section .login {
    border: 1px solid green;
    height: 272px; }
    .slider_section .login h3 {
      text-align: center;
      margin: 20px 0px 0px 0px;
      padding: 0px;
      font-size: 22px;
      color: green; }
    .slider_section .login form {
      margin-top: 10px;
      padding: 20px 10px; }
      .slider_section .login form .input-group-addon {
        width: 45px;
        color: green; }
      .slider_section .login form button {
        color: green; }

.body_content {
  padding: 60px 0px 0px 0px; }
  .body_content .left_content p {
    text-align: justify;
    font-size: 15px;
    padding-bottom: 20px; }
  .body_content .alumni_profile {
    border: 1px solid green;
    height: 272px; }
    .body_content .alumni_profile h3 {
      text-align: center;
      margin: 20px 0px 0px 0px;
      padding: 0px;
      font-size: 22px;
      color: green; }
    .body_content .alumni_profile .alumni_list .single_alumni {
      text-align: center !important; }
      .body_content .alumni_profile .alumni_list .single_alumni a {
        color: #000;
        text-decoration: none; }
        .body_content .alumni_profile .alumni_list .single_alumni a:hover {
          text-decoration: none; }
        .body_content .alumni_profile .alumni_list .single_alumni a img {
          width: 140px;
          height: 140px;
          margin: 10px 0px 5px 62px; }

.event_section {
  padding: 60px 0px 0px 0px; }
  .event_section .event_list {
    padding-top: 70px; }
  .event_section .single_event {
    position: relative;
    height: 200px; }
    .event_section .single_event img {
      width: 100%;
      height: 200px; }
    .event_section .single_event .single_event_inner {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      text-align: center; }
      .event_section .single_event .single_event_inner:hover {
        background: rgba(0, 0, 0, 0.5); }
      .event_section .single_event .single_event_inner .event_date {
        background: green;
        width: 70px;
        text-align: center;
        color: #fff;
        margin-left: 36%;
        font-family: "Lato", sans-serif; }
        .event_section .single_event .single_event_inner .event_date .month {
          font-size: 20px;
          font-weight: 400;
          text-transform: uppercase; }
        .event_section .single_event .single_event_inner .event_date .date {
          font-size: 50px;
          font-weight: 700;
          line-height: 50px; }
        .event_section .single_event .single_event_inner .event_date .year {
          font-size: 18px;
          font-weight: 300; }
      .event_section .single_event .single_event_inner .event_title {
        padding-top: 10px; }
        .event_section .single_event .single_event_inner .event_title h3 {
          color: #fff;
          font-size: 19px;
          padding: 5px 20px; }

.notice_section {
  padding: 60px 0px 60px 0px; }

.footer_section {
  background: green;
  text-align: center;
  color: #fff;
  padding: 10px 0px; }

.section_title h1 {
  padding: 0px 0px 12px 0px;
  text-transform: uppercase;
  font-size: 40px;
  color: green;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 2px; }
.section_title p {
  color: #888;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  margin: 0px;
  padding: 0px; }

/*# sourceMappingURL=style.css.map */
